{{ $Site := .Site }}
<p class="post-meta">
  {{ if not .Params.nodate }}
    <span class="post-date">
      <span class="post-date-day"><span class="post-date-month">{{ .Date.Format "Jan 2, 2006" }}</span> </span>
    </span>
  {{ end }}
  {{ if not .Params.noauthor }}
    {{ if .Params.author }}By <a class="post-author" {{ if .Params.authorlink }}href="{{ .Params.authorlink }}"{{ end }}>{{ .Params.author }}</a>{{ end }}
  {{ end }}
  {{ if not .Params.noread }}
    <span class="post-reading-time"><i class="fa fa-clock-o"></i> <em>{{.ReadingTime}} min. read</em></span>
  {{ end }}
  {{ if .Params.categories }}
    <div class="post-categories">
      {{ range .Params.categories }}
      <a class="post-category post-category-{{ . | urlize }}" href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}
  {{ if .Params.tags }}
    <div class="post-tags">
      <i class="fa fa-tags fa-1"></i>
      {{ range .Params.tags }}
        <a class="post-tag post-tag-{{ . | urlize }}" href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}
</p>
