<div id="me">
    <p>
        <img src="/images/avatar.png", alt="nauval atmaja">
        Hello, I'm Nauval Atmaja, a software developer who has interest in software architecture and new cool stuff. 
        Unfortunately, I'm no gamer myself but I will still have fun playing Winning Eleven or Pro Evolution Soccer.
        Have a look around and don't hesitate to <a href="mailto:nauval.atmaja@gmail.com">contact me</a> with any comments,
        suggestions or even to just say Hi!
    </p>
    <p>
        <a href="https://twitter.com/novalpas/">@novalpas</a> &#8226;
        <a href="https://github.com/npatmaja">GitHub</a> &#8226;
        <a href="mailto:nauval.atmaja@gmail.com">Email Me</a>
    </p>
</div>
