$purple: #800080;
$dark-grey: #333333;
$light-grey: #AEAEAE;
$lighter-grey: #EAEDED;
$main-red: #E54028;
$light-blue: #3498db;

// Content
$content-top-border: $main-red;

// Sidebar
$sidebar-bg: white;
$sidebar-fg-a: $dark-grey;
$sidebar-top-border: $purple;
$sidebar-fg-title: $dark-grey;
$sidebar-fg-a-hover: $main-red;

// Pagination
$pagin-border: $light-grey;
$pagin-a: $dark-grey;
$pagin-a-hover: $main-red;

// Tags
$tag-fg: $dark-grey;
$tag-bg: $purple;
$tag-a-hover: $main-red;
$tag-border-bottom: $purple;

// Sections
$section-a-hover-bg: $lighter-grey;

// footer
$footer-a-fg: $light-blue;
