/* Content */
.content {
  border-top: 1px solid $content-top-border;
}

/* Post */
$post-title-size: 2.8rem;
$post-title-size-small: 2rem;

.post {
  .post-header {
    h1.post-title {
      font-size: $post-title-size;
      line-height: 1.1;
    }
  }

  // Inline code
  p code {
    padding: 0 3px;
    background: $lighter-grey;
    color: $main-red;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }
}

/* Metas */
// Tags
.post-tags {
  .fa-tags {
    font-size: small;
  }
  .post-tag {
  	clear: left;
    margin: 0 0.1rem;
    padding: 0 0.2rem;
    color: $tag-fg;
    border-bottom: 1px solid $tag-border-bottom;
    font-size: 0.95rem;
    border-radius: 2px;
  }
  a.post-tag {
  	text-decoration: none;
  }
  a.post-tag:hover {
  	color: $tag-a-hover;
  	text-decoration: none;
  }
}

// Categories
.post-categories .post-category {
  background: $category-bg;
  border-radius: 3px;
}
