.taxonomy {
  h2 .term {
    text-decoration: none;
    color: $taxonomy-fg;
    background: $taxonomy-bg;
    padding: 0 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .term-count {
    background: $taxonomy-count-bg;
    color: $taxonomy-count-fg;
    margin-left: 1rem;
    padding: 5px 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
}
